<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Food Manager</title>
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename = 'main.css') }}">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header class="primary-header container group">
			<h1 class="logo">
				<a href="http://localhost:5000/">Home <br> Intranet</a>
			</h1>
			<h3 class="date">{{ date }} , {{ weekday }}</h3>
			<nav class="nav primary-nav">
				<ul>
					<li><a href="http://localhost:5000/">Home</a></li><!--
					--><li><a href="http://localhost:5000/food_manager">Food Manager</a>
				</ul>
			</nav>
		</header>
		<section class="row-alt">
			<div class="lead container">
				<h1>Food Manager</h1>
				<p>Recipe added successfully!</p>
				<a href="http://localhost:5000/food_manager" class="btn btn-alt">Create food plan</a>
				<a href="http://localhost:5000/food_manager/add_recipe" class="btn btn-alt">Add a new recipe</a>
			</div>
		</section>
		<footer class="primary-footer container group">
			<small>Open Home Intranet</small>
			<nav class="nav">
				<ul>
					<li><a href="http://localhost:5000/">Home</a></li><!--
					--><li><a href="http://localhost:5000/food_manager">Food Manager</a></li>
				</ul>
			</nav>
		</footer>
	</body>
</html>