{% extends "base.html" %}
{% block content %}
		<section class="row-alt">
			<div class="lead container">
				<h1>Shopping List</h1>
				<p>Here is the food plan and a shopping list according to your choice. You can edit the shopping list in case you have some of the items already or if you want to add extra things!</p>
			</div>
		</section>
		<section class="row">
			<div class="grid">
				<section class="col-1-2">
					<h2>Food plan for the week to come:</h2>
					<table border=1>
						{% for key, value in plan.iteritems() %}
							{% if key != 'submit' %}
								<tr>
									<th> {{ key }} </th>
					        		<td> {{ value}} </td>
					    		</tr>
					    	{% endif %}
					    {% endfor %}
					</table>
				</section>
				<section class="col-1-2">
					<h2>Shopping list:</h2>
					<form class="register-group shopping-list" action="#" method="post">
					<textarea name="list">{% for item in shopping_items %}- {{ item }}
{% endfor %}</textarea>
					</form>
				</section>
			</div>
		</section>
{% endblock %}